body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: asset_url('notes.jpg');
  background-position: center;
  background-size: auto;
}

main {
  flex: 1 0 auto;
}

nav{
  a {
    color: #2E2F30 !important;
    text-decoration: none;
  }
}

.border-round{
  margin-top: 5em;
  border-radius: 10px ;
}